<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ホーム</title>
</head>
<body>
<div class="content">
<h1>日記</h1>
<!-- 今日の日記をまだ書いていなかったら今日の日記を書くためのフォーム
    今日の日記を書いていたらその文章を表示しておいて、編集可能にする
    過去の日記を見るボタンは常に表示-->
<h2 th:text="|今日の日記(${today})|"></h2>
<div th:if="${todayDiary != null}">
    <p th:text="${todayDiary.content}"></p>
    <img th:if="${todayDiary.imagePath != null}" th:src="@{${'/'+todayDiary.imagePath}}" alt="その日の写真" width="300" height="200">
</div>
    <div th:if="${todayDiary == null}"    >
        <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        タイトル:<input name = "title" id="title" value="タイトル"><br>
        <textarea name="content" id="content" style="width: 400px; height: 200px;"></textarea><br>
    <!--　写真を追加できるようにしたい--
    spiring bootに送信→DBにサーバ上のパスを保存→dbから取得して表示-->
        <label for="image">写真を追加する</label>
        <input type="file" id="image" name="image">
        <button type="button" id="saveBtn">一時保存</button>
        <input type="submit" value="送信">
        </form>
    </div>
</div>
<script th:src="@{/js/push.js}"></script>
<script>
    subscribePush();
</script>
<script>

const content  = document.getElementById("content");
const title = document.getElementById("title");
// 要素が存在する時だけ実行
if (content && title) {
    const date = new Date();
//保存済みデータを復元
    prev_date = localStorage.getItem("date") || "";
    if (date.toDateString() === prev_date) {
        content.value = localStorage.getItem("content") || "";
        title.value = localStorage.getItem("title") || "";
    } else {
        content.value = "";
        title.value = "";
    }
}


<!-- 過去の日記を見るためにdbに保存するようにする-->
const saveBtn = document.getElementById("saveBtn");
if (saveBtn) {
    document.getElementById("saveBtn").addEventListener("click", () => {
        localStorage.setItem("content", content.value);
        localStorage.setItem("title", title.value);
        localStorage.setItem("date", date.toDateString());

    });
}
</script>
<a th:href="@{/history}">過去の日記を見る</a>
</body>
</html>